.lane-container {
  flex: 1 1;
  padding: 10px;
}

.lane-container h1 {
  display: block;
  text-align: center;
  font-size: 20px;
}

.lane {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid #DDD;
  min-height: 40px;
}
